# App
API_URL="http://localhost:3000/api"
NEXT_PUBLIC_CDN_URL="https://d1j6tgpykvuq4o.cloudfront.net"
# Databases
DATABASE_URL="postgresql://username:password@host:port/table"
# Infra
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
