@tailwind base;
@tailwind components;
@tailwind utilities;

.shirt-section {
	@media (max-width: 768px) {
		grid-template-columns: repeat(min(var(--grid-cols), 5), 1fr) !important;
	}
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
	font-family: "Poppins";
	font-weight: bold !important;
	text-transform: uppercase;
	letter-spacing: 2px !important;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body,
input,
select,
button {
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
}

option {
	text-align-last: center;
}

b,
i,
p,
span {
	hyphens: auto;
}

a {
	text-decoration: none;
}

fieldset,
input {
	border: none;
}

button {
	background: none;
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

input,
select {
	background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
select::-webkit-outer-spin-button,
select::-webkit-inner-spin-button {
	appearance: none;
}

option {
	border-bottom: none;
}

label {
	cursor: text;
}
